
* text=auto

## Enforce text mode and CRLF line breaks
*.editorconfig text eol=crlf
*.gitattributes text eol=crlf
*.gitignore text eol=crlf
*.ini text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
CODEOWNERS text eol=crlf
LICENSE text eol=crlf

## Enforce text mode and LF line breaks
*.sh text eol=lf
*.bash text eol=lf
